@model MvcPlannerApp.Models.Plans
@{
    ViewData["Title"] = "Delete";
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/delete.css" />
</environment>
<h2>Удалить</h2>
<h3>Вы уверены что хотите удалить эту задачу?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Название задачи
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Дата выполнения
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-default" asp-action="Index">Назад к списку</a>
    </form>
</div>
